OpenGL_learning/.vs/
OpenGL_learning/Debug/
OpenGL_learning/OpenGL_learning.VC.db
OpenGL_learning/OpenGL_learning.VC.VC.opendb
OpenGL_learning/x64/
OpenGL_learning/OpenGL_learning.opensdf
OpenGL_learning/OpenGL_learning.sdf
OpenGL_learning/OpenGL_learning.v12.suo
